L1_RPC=
L2_RPC=
PRIVATE_KEY=
L1_CHAIN_ID=
L2_CHAIN_ID=
NATIVE_TOKEN=
ADDRESS_MANAGER=
L1_CROSS_DOMAIN_MESSENGER=
L1_STANDARD_BRIDGE=
OPTIMISM_PORTAL=
L2_OUTPUT_ORACLE=
L1_USDC_BRIDGE_ADDRESS=
DISPUTE_GAME_FACTORY_ADDRESS=
L1_ERC20_ADDRESS=
L2_ERC20_ADDRESS=
